// Typography
$font-family: "Montserrat",
sans-serif;

// Colors
$red: #DD2A1B;
$blue: #00A3D3;
$navy: #14556F;
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$colors: ("red": $red, "blue":$blue, "navy":$navy, "dark-grey": #222, "grey": #666, "light-grey": #e0e0e0);
