// Typography
$font-family: "Montserrat",
sans-serif;

// Colors
$red: #A6192E;
$blue: #7DA1C4;
$navy: #041E42;
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$neuro-bg: #e0e0e0;

$colors: ("red": $red, "blue":$blue, "navy":$navy, "dark-grey": #222, "grey": #A7A8A9, "light-grey": #e0e0e0);
