// Variables
@import '_variables';

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif!important;
}

*:focus {
    outline: 0 !important;
}

:active, :focus {
    border: 0;
}

a{
    &:hover{
        text-decoration: none;
        color: $red;
    }
}

body {
    font-family: 'Inter', sans-serif!important;
}

.vh-100{
   height: 100vh;
}

.text-shadow{
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.rounded-corner{
    border-radius: 20px;
}

@each $name, $color in $colors {
    .color-#{$name} {
      color: $color;
    }

    .background-#{$name} {
        background-color: $color;
    }
}

.button {
    background: $red;
    background: linear-gradient(90deg, $red 0%, #b74657 100%);
    padding: 1em;
    color: white;
    border:0;
    border-radius: 100px;
    transition: ease-out .3s;
    &:hover {
        box-shadow: 0px 5px 11px 0px #aaa;
        transform: translateY(-1px);
    }
    &:active {
        -webkit-box-shadow: inset 0px 15px 0px 5px rgba(0,0,0,0.5);
        box-shadow: inset 0px 15px 0px 5px rgba(0,0,0,0.5);
        transform: translateY(2px);
    }
}

.neuro-card{
    border-radius: 50px;
    background: $neuro-bg;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

// .button-outline {
//     background: transparent;
//     padding: 1em;
//     color: white;
//     border: 1px solid white;
//     border-radius: 100px;
//     transition: ease-out .3s;
//     &:hover {

//         border: 1px solid #DD2A1B;
//         background: $red;
//         color: white;
//         box-shadow: 0px 5px 11px 0px #aaa;
//         transform: translateY(-1px);
//     }
//     &:active {
//         -webkit-box-shadow: inset 0px 15px 15px 5px rgba(0,0,0,0.23);
//         box-shadow: inset 0px 15px 15px 5px rgba(0,0,0,0.23);
//         transform: translateY(2px);
//     }
// }

.shadow{
    box-shadow: 0px 5px 7px 0px #aaa;
}

.background-image{
    background-image: url("/images/earphones.png");
    background-size: 104% 120%;
    background-position: center;
}

form {
    img {
        width: 150px;
        height: 150px;
    }
}

input.glassmorphism-input-dark {
    ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder{
        color: #aaa;
    }
    background: 0;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #aaa;
    margin: 20px 0;
    padding-bottom: 10px;
    color: #666;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: 0;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #aaa;
    margin: 20px 0;
    padding-bottom: 10px;
    -webkit-text-fill-color: #666;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #222;
    transition: .5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

#sidebar{
    z-index: 99;
    h5{
        a:not(.collapsed){
            color:$red;
        }
    }
}

.pie {
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: $red;

    .pie-inner{
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-color: $neuro-bg;
        transform: scale(0.95);
    }
}

.material, .test{
    cursor: pointer;
}

