* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 0 !important;
}

:active, :focus {
  border: 0;
}

a:hover {
  text-decoration: none;
  color: #A6192E;
}

body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.background-rope {
  background-image: url("/public/images/rope.png");
  background-attachment: scroll;
  background-size: cover;
  background-color: #e0e0e0;
}

.background-people {
  background-image: url("/public/images/people.png");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: repeat;
  background-color: #041E42;
}

.background-gradient {
  background-image: url("/public//images/gradient.png");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: repeat;
  background-color: #041E42;
}

.progress-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.progress-bar {
  background-color: white;
  height: 3px;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.font-pt-serif {
  font-family: "PT Serif", sans-serif !important;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: calc(100vw - 5px) !important;
}

.level-1 {
  z-index: 100;
}

.level-2 {
  z-index: 90;
}

.navbar {
  transition: background-color 1s ease 0s;
}

.text-shadow {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.inner-shadow {
  box-shadow: inset 0px 0px 20px 0px #666;
}

.social-link {
  transition: 0.5s;
}

.social-link.color-red:hover {
  transform: translateY(-2px);
  background-color: #A6192E !important;
  color: white !important;
}

.social-link.color-blue:hover {
  transform: translateY(-2px);
  background-color: #7DA1C4 !important;
  color: white !important;
}

.social-link.color-navy:hover {
  transform: translateY(-2px);
  background-color: #041E42 !important;
  color: white !important;
}

.social-link.color-green:hover {
  transform: translateY(-2px);
  background-color: #33b133 !important;
  color: white !important;
}

.rounded-corner {
  border-radius: 20px;
}

.rounded-corner-50 {
  border-radius: 50px;
}

.z-index-99 {
  z-index: 99;
}

.color-red {
  color: #A6192E !important;
}

.background-red {
  background-color: #A6192E !important;
}

.color-blue {
  color: #7DA1C4 !important;
}

.background-blue {
  background-color: #7DA1C4 !important;
}

.color-navy {
  color: #041E42 !important;
}

.background-navy {
  background-color: #041E42 !important;
}

.color-dark-grey {
  color: #222 !important;
}

.background-dark-grey {
  background-color: #222 !important;
}

.color-grey {
  color: #A7A8A9 !important;
}

.background-grey {
  background-color: #A7A8A9 !important;
}

.color-light-grey {
  color: #e0e0e0 !important;
}

.background-light-grey {
  background-color: #e0e0e0 !important;
}

.button {
  background: #A6192E;
  background: linear-gradient(90deg, #A6192E 0%, #b74657 100%);
  padding: 1em;
  color: white;
  border: 0;
  border-radius: 100px;
  transition: ease-out 0.3s;
}
.button:hover {
  transform: translateY(-1px);
  box-shadow: 0px 5px 11px 0px #aaa;
}
.button:active {
  transform: translateY(2px);
  box-shadow: inset 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
}

.neuro-card {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.neuro-card h5 {
  z-index: 99;
}

.neuro-radio-group {
  transition: all 0.5s linear;
}
.neuro-radio-group input[type=radio] {
  display: none;
}
.neuro-radio-group input[type=radio]:checked + label {
  transition: all 0.3s linear;
  background: #7DA1C4;
  box-shadow: none;
}
.neuro-radio-group label {
  transition: all 0.3s linear;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 1em;
  cursor: pointer;
}

.shadow {
  box-shadow: 0px 5px 7px 0px #aaa;
}

form img {
  width: 150px;
  height: 150px;
}

input.glassmorphism-input-dark {
  background: 0;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #aaa;
  margin: 20px 0;
  padding-bottom: 10px;
  color: #666;
}
input.glassmorphism-input-dark ::-webkit-input-placeholder, input.glassmorphism-input-dark ::-moz-placeholder, input.glassmorphism-input-dark :-ms-input-placeholder {
  color: #aaa;
}

.text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: 0;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #aaa;
  margin: 20px 0;
  padding-bottom: 10px;
  -webkit-text-fill-color: #666;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

#sidebar, #sidebar_thumb {
  z-index: 99;
  position: fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 1em;
  margin-top: 1em;
  height: calc(100% - 2em);
}
#sidebar::-webkit-scrollbar, #sidebar_thumb::-webkit-scrollbar {
  display: none;
}
#sidebar h6 a, #sidebar_thumb h6 a {
  color: #222;
}
#sidebar h6 a[area-expanded=true], #sidebar_thumb h6 a[area-expanded=true] {
  color: #A6192E;
}
#sidebar #accordion, #sidebar_thumb #accordion {
  overflow: auto;
}

#sidebar_thumb {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.material, .test {
  cursor: pointer;
}

.loader {
  background: none repeat scroll 0 0 #e0e0e0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
.loader .loader_inner {
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}
